In [1]:
# packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
# Note i have cleaned this from yearly data etc. 
ff_factors = pd.read_csv("Data/F-F_Research_Data_Factors.csv", skiprows=3, nrows = 1177)
ff_factors = ff_factors.rename(columns = {"Unnamed: 0" : "Date"})
ff_factors["Date"] = pd.to_datetime(ff_factors["Date"], format="%Y%m") + pd.offsets.MonthEnd()
ff_factors = ff_factors[(ff_factors["Date"]<=pd.Timestamp('2023-12-31')) & (ff_factors["Date"]>=pd.Timestamp('1927-01-01'))] # restrict to period for analysis.
ff_factors

           Date  Mkt-RF   SMB   HML    RF
6    1927-01-31   -0.06 -0.37  4.54  0.25
7    1927-02-28    4.18  0.04  2.94  0.26
8    1927-03-31    0.13 -1.65 -2.61  0.30
9    1927-04-30    0.46  0.30  0.81  0.25
10   1927-05-31    5.44  1.53  4.73  0.30
...         ...     ...   ...   ...   ...
1165 2023-08-31   -2.39 -3.20 -1.08  0.45
1166 2023-09-30   -5.24 -2.49  1.45  0.43
1167 2023-10-31   -3.18 -3.88  0.19  0.47
1168 2023-11-30    8.83 -0.03  1.66  0.44
1169 2023-12-31    4.87  6.36  4.92  0.43

[1164 rows x 5 columns]